################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClearTask/obj/.cache/com.companyname.cleartask.flag
/ClearTask/bin/Debug/net8.0-android/ClearTask.pdb
/ClearTask/bin/Debug/net8.0-android/ClearTask.dll
/ClearTask/bin/Debug/net8.0-android/com.companyname.cleartask-Signed.apk
/ClearTask/bin/Debug/net8.0-android/com.companyname.cleartask-Signed.apk.idsig
/ClearTask/bin/Debug/net8.0-android/com.companyname.cleartask.apk
/ClearTask/bin/Debug/net8.0-android/ClearTask.dll
/ClearTask/bin/Debug/net8.0-android/ClearTask.pdb
/ClearTask/bin/Debug/net8.0-android/com.companyname.cleartask-Signed.apk
/ClearTask/bin/Debug/net8.0-android/com.companyname.cleartask-Signed.apk.idsig
/ClearTask/bin/Debug/net8.0-android/com.companyname.cleartask.apk
/ClearTask/bin/Debug/net8.0-android/ClearTask.dll
/ClearTask/obj/.cache/com.companyname.cleartask.flag
/ClearTask/ClearTask.csproj.user
